.Login-app {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231015/pngtree-diamonds-on-white-background-3d-illustration-rendering-image_13942670.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh; /* Chiều cao toàn màn hình */
  width: 100vw; /* Chiều rộng toàn màn hình */
  justify-content: center; /* Căn giữa nội dung ngang */
  align-items: center; /* Căn giữa nội dung dọc */
  position: relative; /* Để lớp phủ có thể đặt phía trên */
}

.Login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ ảo */
}

.Login-form {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: auto;
  z-index: 1; /* Để form nằm trên lớp phủ */
}

.div-2 {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: rgb(231, 243, 245);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 8px;
  border: 2px solid black;
  margin: auto;
}

.div-3, .div-9, .div-10 {
  margin-bottom: 10px;
}

.div-4 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: #007BFF;
}

.div-5, .div-7 {
  margin-top: 20px;
  font-size: 25px;
  color: #840a0a;
}

.div-6, .div-8 {
  color: #4a331c;
  font-size: 25px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.div-13 {
  font-size: 25px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.div-13:hover {
  background-color: #0056b3;
}

.div-14, .div-15 {
  text-align: right;
  margin-top: 30px;
  font-size: 25px;
}

.div-15 {
  color: #007bff;
  text-decoration: none;
}

.div-15:hover, .div-12:hover {
  text-decoration: underline;
}

.div-10 {
  justify-content: left;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;
}

.div-12 {
  font-size: 25px;
}
.div-12:hover{
  background-color: white;
}
.back{
  text-align: right;
  font-size: 25px;

}
.back-to-home{
  color: #007bff;
  text-decoration: none;
}
.back-to-home:hover{
  background-color: #fffcfc;

}