.App {
    font-family: 'Tim', Times, serif, sans-serif;
    background-color: #d3dfec;
  }
  
  .Login a {
    background-color: #c43d0c; /* màu nền */
    color: white; /* màu chữ */
    padding: 10px; /* padding trên dưới và trái phải */
    font-size: 30px; /* kích thước chữ */
    text-decoration: none; /* không gạch chân */
    border-radius: 15px;
    margin-right: 100px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Login a:hover {
    background-color: #f5d8a7;
  }
  
  .orange {
    margin-top: 20px;
    background-color: #fdf1dc;
    padding: 10px 0;
  }
  
  .container1 {
    min-height: 5vh;
    overflow: auto;
  }
  
  .container2,
  .container3,
  .container4 {
    min-height: 80vh; /* 100% chiều cao của viewport */
    overflow: auto; /* cho phép cuộn nếu nội dung vượt quá chiều cao tối thiểu */
  }
  
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .brand-logo {
    color: #840a0a;
    text-decoration: none;
    font-size: 40px;
    border: 2px solid #efeeee; /* Tạo khung cho logo */
    padding: 5px; /* Tạo không gian xung quanh logo */
    background-color: #fff;
    border-radius: 10px; /* Tô màu trắng cho logo */
    margin-left: 100px;
    overflow: hidden;
    
  }
  
  
  
  .nav-button {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 400px;
    overflow: hidden; /* Reduce this value to move items closer to the logo */
  }
  
  .nav-button li {
    margin-left: 50px;
    display: inline-flex;
  }
  
  .nav-button li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px 2px;
    border-radius: 8px;
    background-color: #fdf1dc;
    font-size: 28px;
    color: #ae06a5;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 5px;
    cursor: pointer;
  }
  .nav-button li a:hover{
    background-color: #d3dfec;
    color:wheat;
  }
  
  .image img {
    margin-top: 50px;
    width: 100%;
    height: 1000px;
    box-shadow: 0px 0px 10px rgba(255, 253, 253, 0.1);
  }
  
  .lookup-table {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ddeaf3;
    border: 80px solid #ddeaf3;
  }
  
  .Table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgba(86, 84, 103, 0.2);
    text-align: center;
    color: rgb(152, 53, 0);
    margin-bottom: 100px;
  }
  
  .table1 {
    font-size: 40px;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.5px;
    color: rgb(142, 75, 0);
  }
  
  .table1 label {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 30px;
  }
  
  .table1 label input {
    width: 300px;
    height: 45px;
    font-size: 20px;
    color: #2c78c9;
    margin: 20px;
    background-color: #f5fafc;
    border-radius: 5px;
    border:1px solid rgb(63, 63, 63);
  }
  .table1 button{
    font-size: 20px;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    color:#110f0b;
    background-color: #d1b200;
    cursor: pointer;

  }
  .table1 button:hover{
    background-color: #c3c3c3;
    overflow: auto;
    
  }
  .container3 {
    position: relative;
    max-width: 80%;
     margin:auto;
     margin-right:80px;
  }
  
  .container4 {
    max-width: 100%;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    border-radius: 10px;
    width: 80%;
    height: auto;
  }
  
  @keyframes slide {
    0% { opacity: 0; }
    50% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .slide:nth-child(1) {
    animation: slide 12s 0s infinite;
  }
  
  .slide:nth-child(2) {
    animation: slide 12s 6s infinite;
  }
  
  .blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .blog {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 300px;
  }
  
  .blog img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .container5 {
    background-color: #c3c3c3;
  }
  
  .contact-info label {
    display: flex; /* Sử dụng Flexbox */
    justify-content: space-between;
    padding: 10px; /* Đặt không gian đều giữa các thành phần con */
  }
  
  .contact-logo a {
    color: rgb(226, 100, 10);
    border: none;
    background-color: #c3c3c3;
    margin-left: 100px;
    font-size: 100px;
  }
  
  .contact-info label {
    color: rgb(102, 91, 91);
    font-size: 25px;
    margin-left: 250px;
  }
  